@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "cairo";
    font-size: 16px;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url('./img/wallpaperflare.com_wallpaper\(6\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    height: 100vh;
}
.navbar {
    display: inline;
}
.logo {
    position: relative;
    top: 20px;
    color: whitesmoke;
    right: 30px;
}
.logo span {
    color: orange;
}
ul {
    display: flex;
    float: left;
    position: relative;
    bottom: 40px;
}
li {
    justify-content: space-between;
    margin: 20px;
    list-style: none;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}
.hero{
    width: 100%;
    height: 100vh;
}
.hero .type{
    width: 500px;
    height: 400px;
    float: left;
    position: relative;
    left: 20px;
    border-radius: 40% 60% 30% 70%;
    box-shadow: 2px 2px 2px black;
    border: 2px solid rgb(255, 255, 255);
    transition: 2s;
}
.type img{
    height: 400px;
    position: relative;
    float: left;
    left: 10%;
}
h2 {
    color: white;
    position: relative;
    right: 200px;
    top: 200px;
    font-weight: 600;
    margin: 10px;
    letter-spacing: 1.5px;
}
.edit{
    position: relative;
    margin: 12px;
    right: 100px;
}
.type:hover:not(img) {
    transform: rotate(-3deg);
    border: 2px solid orange;
  }
  span {
    color: orange;
  }


  @media  screen and (max-width: 768px) {
    .navbar {
        position: relative;
        top: 30x;
    }
    h2{
        display: none;
    }
    .type{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 0px;
        transition: 0s;
        border: 0px ;
        
    }
    .type img{
        
    }
}